@import "../../app.scss";

.navbar{
    z-index: 100;
    position: sticky;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }

        img{
            width: 125px;
            height: 50px;
            margin-top: 25px;
            margin-bottom: 20px;
            margin-left: 100px;

            @include mobile{
                display: none;
            }
        }

        .social{
            margin-right: 35px;
            display: flex;
            gap: 20px;

            img{
                width: 35px;
                height: 35px;
            }
        }
    }
}