@import "../../app.scss";

.cursor{
    background-color: aqua;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    @include mobile{
        display: none;
    }
}